<div class="ySpacer"></div>
<div class="ySpacer"></div>
<div id="footer" class="row mid">
    <div class="col mid">
        <div class="row mid top">
            <a class="col" href="mailto:harkerprogramming@gmail.com"><i data-feather="mail"></i></a>
            <div class="xSpacer"></div>
            <a class="col" href="https://codeforces.com/group/VLcY3ROcNO/join" target="_blank"><i data-feather="code"></i></a>
            <div class="xSpacer"></div>
            <a class="col" href="https://github.com/g10ria/web" target="_blank"><i data-feather="git-branch"></i></a>
        </div>
        <div class="row mid">© HPC 2020</div>
    </div>
</div>