<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    rel="stylesheet">

{{!-- loading feather icons --}}
<script src="{{path}}/js/hpc/feather.min.js"></script>
<script src="{{path}}/js/hpc/featherReplace.js" defer></script>

{{!-- loading nav & modal scripts --}}
<script src="{{path}}/js/hpc/nav.js" defer></script>
<script src="{{path}}/js/hpc/modal.js" defer></script>


<title>Harker Programming Club</title>