<div id="nav" class="row">
    <div id="nav-left">
        <div id="nav-header">
            <div class="smonly">HPC</div>
            <a href="/programming"><div class="smup">Harker Programming Club (HPC)</div></a>
            
        </div>
        <div id="nav-subheader">
            “Computer science is no more about computers than astronomy is about telescopes.” - Edsger W. Dijkstra
        </div>
    </div>
    <div id="nav-right">
        <i data-feather="menu" id="nav-opener"></i>
    </div>
</div>
<div id="nav-drawer">
    <div id="nav-drawer-content">
        <i data-feather="x" id="nav-closer"></i>
        <a class="nav-drawer-option" href="/programming">Home</a>
        <a class="nav-drawer-option" href="/programming/about">About HPC</a>
        {{!-- <a class="nav-drawer-option">HPI</a> --}}
        <a class="nav-drawer-option" href="/programming/contest/gpl">GPL</a>
        {{!-- <a class="nav-drawer-option">Resources</a> --}}
    </div>
</div>
<div id="nav-overlay"></div>
