<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <link href="../../hpc/css/404.css" rel="stylesheet">
</head>

<body>

    <div class="row">
        <div id="content" class="row mid" style="height: 100vh;">

            <div class="col mid" style="text-align: center;">

                <div id="num">404</div>
                <div class="ySpacer"></div>
                <div id="text">Sorry, this page doesn't exist.</div>
                <div class="ySpacer"></div>
                <a href="./programming"><button>Back to safety</button></a>
            </div>

        </div>
    </div>

</body>

</html>